{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        body {
            background-image: url("{% static 'images/home4.jpg' %}");
        }
        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar-login">
        <div class="navbar-brand-login">
            <h1>ROAD GUARDIAN</h1>
        </div>
        <div class="navbar-links-login">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        </div>
    </nav>

    <div class="login-container">
        <h2>Login</h2>
        <form method="post" id="loginForm">
            {% csrf_token %}
            <div class="input-container">
                <label for="id_username">Username:</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error-message">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="input-container">
                <label for="id_password">Password:</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="error-message">{{ form.password.errors }}</div>
                {% endif %}
            </div>
            <!-- Display non-field errors (like deactivation message) -->
            {% if form.non_field_errors %}
                <div class="error-message">{{ form.non_field_errors }}</div>
            {% endif %}
            
            <label for="name">Not Registered Yet?</label>
            <a href="{% url 'register' %}" class="button">Create An Account</a>
            <div class="forgot-password">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>
            <div class="button-container">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>

    <footer class="footer-login">
        <p>© 2024 Roadside Assistance. All rights reserved.</p>
        <p>Contact us: info@roadsideassistance.com | +1 234 567 890</p>
    </footer>
</body>
</html>
